CompileFlags:
  Add: []
  Remove: []

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: []
    Remove: []
  UnusedIncludes: None  # Disable to reduce log spam
  Suppress:
    - "drv_unknown_argument"
    - "err_drv_unsupported_opt"

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Completion:
  AllScopes: No
